@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-content {
    overflow-x: auto;
    overflow-y: hidden; /* atau overflow: scroll; */
}
/* Menyesuaikan tampilan scrollbar di browser WebKit (misalnya, Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
    width: 0.5em;
}
